.whole{
    background-color:#1c1717;
    border-radius:14px;
  }
  .expenses{
      padding: 1rem;
      background-color:rgb(36, 34, 34);
      margin:2rem auto;
      width: 95rem;
      max-width: 100%;
     
  }